@font-face {
  font-family: "Jost Regular";
  src: url("assets/Jost-Regular.ttf");
}

body {
  font-family: "Jost Regular",  sans-serif;
  background-color: antiquewhite;
}

.header {
  margin: 50px 10vw 50px 10vw;
}

.content {
  margin: 0px 10vw;
}

.course-name {
  font-size: large;
  line-height: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul {
  font-size: large;
  line-height: 2;
  list-style-type: none;
  padding-left: 0%;
}

.content-name {
  margin-top: 75px;
  margin-bottom: 25px;
  font-size: xx-large;
  line-height: 1;
}

.introduction {
  font-size: x-large;
  margin-bottom: 50px;
}

.post {
  column-gap: 25px;
  margin-bottom: 50px;
}

.post-title {
  font-size: x-large;
  line-height: 1;
  margin-bottom: 5px;
}

.text-container {
  max-width: 100%;
  grid-column: 1 / span 1;
  font-size: large;
  line-height: 1.5;
}

.code-title {
  font-size: large;
}

.code-content {
  max-width: 25%;
}

.image-style {
  margin-bottom: 25px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.footer {
  margin-bottom: 25px;
  text-align: center;
  font-size: small;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    padding: 0 200px;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    padding: 0 300px;
  }
}