@font-face {
  font-family: "Jost Light";
  src: url("assets/Jost-Light.ttf");
  font-family: "Jost SemiBold";
  src: url("assets/Jost-SemiBold.ttf");
  
}

body {
  font-family: "Jost Light", "Jost SemiBold", sans-serif;
  background-color: antiquewhite;
}

.header {
  margin: 100px 10vw 50px 10vw;
}

.content {
  margin: 0px 10vw;
}

.course-name {
  font-family: "Jost SemiBold";
  font-size: x-large;
  line-height: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about {
  margin-top: 100px;
  margin-bottom: 25px;
  font-family: "Jost SemiBold";
  font-size: xxx-large;
}
.about-text {
  max-width: 100%;
  font-family: "Jost Light";
  font-size: x-large;
  line-height: 1.5;
}
.content-name {
  margin-top: 100px;
  margin-bottom: 25px;
  font-family: "Jost SemiBold";
  font-size: xxx-large;
}
.post {
  column-gap: 25px;
  margin-bottom: 50px;
}
.post-title {
  font-family: "Jost SemiBold";
  font-size: x-large;
  line-height: 1;
}
.text-container {
  max-width: 100%;
  grid-column: 1 / span 1;
  font-family: "Jost Light";
  font-size: large;
  line-height: 1.5;
}
.code-title {
  font-family: "Jost SemiBold";
  font-size: large;
}
.code-content {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image-style {
  margin-bottom: 25px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: x-small;
}
