@font-face {
  font-family: "Jost Regular";
  src: url("assets/Jost-Regular.ttf");
}

@font-face {
  font-family: "Audiowide";
  src: url("assets/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "FreeMono";
  src: url("assets/FreeMono.woff");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  color: #999999;
  font-family: "Jost Regular", sans-serif;
}

body {
  background: #000000;
}

nav {
  font-family: "Audiowide";
  background: #000000;
  box-shadow: 0px 1px;
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  z-index: 1;
}

nav .logo {
  padding-left: 24px;
  width: fit-content;
}

nav .openMenu {
  display: block;
  position: absolute;
  top: 18px;
  right: 24px;
}

nav .openMenu img {
  height: 22px;
  cursor: pointer;
}

nav .mainMenu {
  display: none;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  transition: top 1s ease;
}

nav .mainMenu li {
  padding-left: 24px;
}

nav .mainMenu li a {
  color: #ffffff;
  text-underline-offset: 3px;
  line-height: 60px;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 18px;
  right: 24px;
  cursor: pointer;
}

nav .mainMenu .closeMenu img {
  height: 22px;
}

main {
  margin: 0px 24px 0px;
  padding-top: 84px;
}

.introduction {
  font-size: large;
  margin-top: 25px;
  line-height: 1.5;
}

h1 {
  font-family: "Audiowide";
  color: hsl(0, 0%, 100%);
  font-size: x-large;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "Audiowide";
  color: #ffffff;
  font-size: large;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  color: #ffffff;
  font-size: medium;
  font-weight: normal;
}

h4 {
  font-family: "Audiowide";
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 60px;
}

p {
  max-width: 100%;
  font-size: medium;
  line-height: 1.5;
}

.code-content {
  overflow: scroll;
  border: 1px solid #999;
  padding: 12px;
  margin-bottom: 60px;
}

code {
  font-family: "FreeMono";
}

img {
  margin-bottom: 24px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin: 24px 0px 24px 0px;
  text-align: center;
  font-size: x-small;
}

nav a:link {
  text-decoration: none;
  color: #ffffff;
}

nav .mainMenu a:hover {
  text-decoration: underline;
  color: #ffffff;
}

nav .mainMenu a:active {
  text-decoration: underline;
  color: #ffffff;
}

a:link {
  text-decoration: underline;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

a:visited {
  text-decoration: underline;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .logo {
    padding-left: 100px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    padding: 0px 100px 0px 0px;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-block;
  }

  nav .mainMenu li {
    padding-left: 24px;
    display: inline-block;
  }

  nav .mainMenu li a {
    line-height: 60px;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  main {
    margin: 0 100px;
  }
}

@media only screen and (min-width: 1280px) {
  nav .logo {
    padding-left: 300px;
  }

  nav .mainMenu {
    padding-right: 300px;
  }

  nav .mainMenu li {
    padding-left: 36px;
  }

  main {
    margin: 0 300px;
  }
}

@media only screen and (min-width: 1920px) {
  nav .logo {
    padding-left: 500px;
  }

  nav .mainMenu {
    padding-right: 500px;
  }

  nav .mainMenu li {
    padding-left: 48px;
  }

  main {
    margin: 0 500px;
  }
}